@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  letter-spacing: -0.6px;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}

i:hover {
  cursor: pointer;
}

.scrollx {
  overflow-x: scroll; /* IE scroll 숨김 */
  -ms-overflow-style: none;
}

.scrollx::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.flex-ellipsis {
  @apply min-w-0 text-ellipsis whitespace-nowrap overflow-hidden;
}

.fadein {
  position: relative;
  overflow: hidden;
  animation: fadein 1s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
